:root
{

    --font-main: 'Poppins';
    --font-main-type: sans-serif;

    --font-title: 'Yellowtail';
    --font-title-type: cursive;

    --background-color: #091E49;
    --body-font-color: #9BAFD9;
    --footer-color: #010B13;

    --header-font-color: #9BAFD9;
    --header-active-font-color: #091E49;
    --header-active-bg-color: #9BAFD9;
    
    --highlight-color: #FF335F;
}


body 
{
    font-family: var(--font-main), var(--font-main-type);
    color:var(--body-font-color);
    background-color: var(--footer-color);
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;

    animation: fadeInBody ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}



.header
{
    color: var(--header-font-color);
    box-shadow: 0px 4px 5px #00000080;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    right:0;
    background-color: var(--background-color);
    z-index: 5;
    transition: width 2s, height 4s;
}

.top
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header0
{
    
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    top:0;
    left:0;
    right:0;
    
    opacity: 0;
}

.logo a
{
    font-family: var(--font-title), var(--font-title-type);
    text-decoration: none;
    font-size: 30px;
    color: var(--header-font-color);
    padding: 5px;
    border-radius: 8px;
    transition: all .15s;
    padding-right: 15px;
}

.logo a:hover
{
    color: var(--header-active-font-color);
    background-color: var(--header-active-bg-color);
}



.links-desktop ul
{
    text-decoration: none;
    font-weight: bold;
}

.links-desktop ul li
{
    display: inline-block;
    margin-right: 10px;
}

.links-desktop ul li a
{
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
    color: var(--header-font-color);
    transition: all .15s;
    border-radius: 25px;
}

.links-desktop ul li a.active
{
    
    color: var(--header-active-font-color);
    background-color: var(--header-active-bg-color);
}

.links-desktop ul li a:hover
{
    
    color: var(--header-active-font-color);
    background-color: var(--header-active-bg-color);
    
}

.mobile-button
{
    display: none;

}

.mobile-button button
{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.mobile-button button span
{
    font-size: 37px;
    padding: 10px;
    border-radius: 8px;
    transition: all 0.15s;
    position: relative;
}

.mobile-button button span:hover
{
    color: var(--header-active-font-color);
    background-color: var(--header-active-bg-color);
}



.links-mobile
{
    max-height: 0;
    overflow: hidden;
    transition: max-height 5s ease-in-out;
    opacity: 0;
}

.content
{
    background-color: var(--background-color);
    padding: 15px;
    animation: fadeInContent ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.content h1
{
    margin-bottom: 100rem;
}

.footer
{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
}

.footer div.foot-msg
{
    display:flex;
    
    align-items: center;
    justify-content: center;
}

.footer span.material-symbols-outlined
{
    font-size: 16px;
}

.footer span
{
    margin-left: 10px;
    margin-right: 10px;
}

.footer span.name
{
    font-family: var(--font-title), var(--font-title-type);
    font-size: 20px;
    margin-right: 5px;
    color: var(--highlight-color);
}

.footer a
{
    margin-left: 0.5rem;
    text-decoration: none;
    color: var(--body-font-color)
}

.footer i
{
    margin-left: 10px;
    margin-right: 10px;
}

.foot-links
{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    margin: 15px;
}

.foot-links a
{
    margin-left: 10px;
    margin-right: 10px;

}

@media only screen and (max-width: 600px)
{
    .links-desktop
    {
        display:none;
    }
    .mobile-button
    {
        display: block;
    }

    .links-mobile.enable
    {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        height: auto;
        max-height: none;
        opacity: 1;
    }

    .links-mobile div.links
    {
        height: 0px;
        overflow: hidden;
    }

    .links-mobile.enable ul
    {
        text-decoration: none;
        font-weight: bold;
        list-style-type: none;
        display: inline-block;
        text-align: center;
    }

    .links-mobile.enable div.links
    {
        margin-top: 15px;
        margin-bottom: 15px;
        height: auto;
        overflow: visible;
    }

    .links-mobile.enable a
    {
        
        text-decoration: none;
        font-size: 15px;
        padding: 10px;
        color: var(--header-font-color);
        transition: all .15s;
        border-radius: 25px;
        font-weight: bold;
    
    }

    .links-mobile.enable a.active
    {
        color: var(--header-active-font-color);
        background-color: var(--header-active-bg-color);
    }

    .links-mobile.enable a:hover
    {
        color: var(--header-active-font-color);
        background-color: var(--header-active-bg-color);
    }

    .menu-button.enable span
    {
        color: var(--header-active-font-color);
        background-color: var(--header-active-bg-color);
    }
}
 
@keyframes fadeInContent {
    0% {
        transform: translate3d(0, -2rem, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
     }
}

@keyframes fadeInBody {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
     }
}